NAME=Seu-Bot-WhatsApp
AVATAR=https://i.imgur.com/bWhx7OT.png
TYPE=bot
MAIN=chatbot.js
RAM=512
AUTORESTART=false
VERSION=latest
APT=libasound2,libatk-bridge2.0-0,libgconf-2-4,libgdk-pixbuf2.0-0,libgtk-3-0,libnspr4,libnss3,libx11-xcb1,libxcomposite1,libxdamage1,libxext6,libxfixes3,libxrandr2,libxrender1,libxss1,libxtst6,ca-certificates,fonts-liberation,libappindicator3-1,libsecret-1-0,lsb-release,xdg-utils,libu2f-udev,libcairo2,libgdk-pixbuf2.0-0,libgtk2.0-0,libicu-dev,libjpeg-dev,libpng-dev,libwebp-dev,python3-dev,libx11-dev,libxkbcommon-x11-0,libgbm-dev,ffmpeg,libavcodec-dev,libavformat-dev,libswscale-dev,libvips,libvips-dev
START=npm install && npm start